.topbar-wrapper {
    background-color: var(--secondary-accent);
}
.topbar {
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-left {
    display: flex;
    gap: 23px;
}
.topbar-left-element {
    display: flex;
    gap: 5px;
}
.topbar-right {
    display: flex;
    gap: 25px;
}
.topbar-right img {
    cursor: pointer;
}