.header-wrapper {
    background-size: cover;
    /* background-image: linear-gradient(to right bottom, rgba(0,0,0,0.1), rgba(0,0,0.1)),url("https://images.unsplash.com/photo-1563311548-58c79b951121?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"); */
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 80vh;
}

.header-left {
    width: 70vw;
}

.header-right >  img {
    max-width: 100%;
    height: auto;
}

.header-buttons {
    display: flex;
}

.header-buttons .secondary-button {
    color: var(--text-dark);
    margin-left: var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;
}